{% extends "main.html" %}
{% block content %}
    <div id="createCatForm">
        <div class="container text-center col col-4">
            <div id="about">
                <div class="card col shadow p-3 mb-5 bg-white rounded">
                    <div class="card-title my-5">
                        <div class="media">
                            <div class="media-body">
                                <h2>You are not authorized to perform this action</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}