{% extends "main.html" %}
{% block content %}
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-center">Categories</div>
            <div class="list-group list-group-flush">
                <li class="list-group-item "><a href="{{url_for('showCategory')}}" >All</a></li>
                {% for category in categories %}
                    <li class="list-group-item "><a href="{{url_for('showCatergoryMovies', category_id=category.id)}}" >{{ category.name }}</a></li>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{{url_for('createCategory')}}" class="btn btn-primary mt-5" role="button">New Category</a>
                <a href="{{url_for('deleteCategory')}}" class="btn btn-danger mt-5" role="button">Delete Category</a>
            </div>
            <div class="text-center ">
                <a href="{{url_for('createMovie')}}" class="btn btn-primary mt-3 col-12" role="button">New Movie</a>
            </div>
        </div>

        <div class="container mt-3 col">
            <div class = "card-deck">
                {% for movie in movies %}
                <span class=" col-4">
                    <div class="card mt-3"  style="width: 18rem;">
                        <img src="{{ movie.photo }}" class="card-img-top" alt="..." height="220" width="326">
                        <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                        <a href="{{url_for('showMovie', movie_id = movie.id)}}" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}